{% extends 'base.html' %}

<!-- Title -->
{% block title%}About {% endblock title %}

<!-- body -->
{% block body%}

<div>
    <div class="bg-local bg-no-repeat bg-cover bg-top" style="background-image: url(/static/img/about.jpg);">
        <h1 class="text-4xl text-center pt-32 pb-5 underline underline-offset-8 text-white font-bold">ABOUT US</h1>
    </div>
    <div>
        <p class="mt-5 mx-20 text-lg text-center">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iusto
            iste facilis
            rem error
            facere
            debitis quod
            eius velit? Veniam unde, harum nisi ducimus quas vitae voluptatem officia aspernatur recusandae!Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. At iusto iste facilis
            rem error
            facere
            debitis quod
            eius velit? Veniam unde, harum nisi ducimus quas vitae voluptatem officia aspernatur recusandae!Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. At iusto iste facilis
            rem error
            facere
            debitis quod
            eius velit? Veniam unde, harum nisi ducimus quas vitae voluptatem officia aspernatur recusandae!Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. At iusto iste facilis
            rem error
            facere
            debitis quod
            eius velit? Veniam unde, harum nisi ducimus quas vitae voluptatem officia aspernatur recusandae!Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. At iusto iste facilis
            rem error
            facere
            debitis quod
            eius velit? Veniam unde, harum nisi ducimus quas vitae voluptatem officia aspernatur recusandae!Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. At iusto iste facilis
            rem error
            facere
            debitis quod
            eius velit? Veniam unde, harum nisi ducimus quas vitae voluptatem officia aspernatur recusandae!Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. At iusto iste facilis
            rem error
            facere
            debitis quod
            eius velit? Veniam unde, harum nisi ducimus quas vitae voluptatem officia aspernatur recusandae! Lorem"</p>

    </div>
</div>

{% endblock body%}