{% extends 'base.html' %}

<!-- Title -->
{% block title%}About {% endblock title %}

<!-- body -->
{% block body%}
<div style="height:85vh; background-color: rgb(237, 229, 229);">

    <div id="about" class="mb-4 mt-20">
        <div class="container mx-auto text-lg">
            <div
                class="mx-auto w-5/6 px-10 sm:px-32 sm:py-20 rounded-lg flex flex-wrap place-content-center bg-white shadow-2xl">

                <div class="abinfo sm:w-1/5 mx-4 grow">
                    <div class="heading pt-7 pb-3">
                        <h2 class="text-3xl uppercase pb-1 font-bold text-lime-800">About Us</h2>
                    </div>
                    <p class="text-base">

                        Helping hand is fundraising web platform is an online platform that connects individuals and
                        organizations with potential donors to raise funds for various causes, such as charitable
                        donations, medical expenses, educational expenses, and more. The website provides a
                        user-friendly interface that allows users to easily create and manage fundraising campaigns,
                        share their stories and goals, and receive donations from supporters around the world.
                    </p>

                </div>
                <div class="abimg  mx-4 grow" style="width: 300px; height: 400px;">
                    <img style="height: 100%; width: 100%;" src="/static/img/about.jpg" class="rounded-lg" alt=""
                        srcset="">
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock body%}