{% extends 'base.html' %}

<!-- Title -->
{% block title%}Home {% endblock title %}

<!-- body -->
{% block body%}

<!-- Home Section Start-->

<div class="p-5">
    <div class="container mx-auto text-lg font-serif" style="font-family:'Josefin Sans', sans-serif;">
        <div class="mx-auto px-10 sm:px-20 flex flex-wrap place-content-center">
            <div class="sm:w-96 mx-4 my-5 grow">
                <img src="/static/img/bg.png" class="rounded-lg" alt="" srcset="">
            </div>
            <div class="sm:w-1/3  mx-1 grow self-center pb-8">

                <div class="flex place-content-center">
                    <img class="h-24 sm:mx-3 mx-1" src="/static/img/logo2.png" alt="">
                    <h2 class="self-center pt-4 sm:mx-2 mx-1 font-bold sm:text-4xl text-sm tracking-wide text-blue-300">
                        HELPING
                        HANDS
                    </h2>
                </div>
                <div>
                    <p class="text-center py-3 font-bold text-lg text-rose-500 tracking-wide capitalize">
                        Make a difference today. Your donation has the power to transform lives and create a brighter
                        future for those in need.
                    </p>
                </div>
                <div>
                    <p class="text-blue-300 text-xl mt-3">
                        Helping Hands <span class="text-blue-400 font-bold">0% Platform fees</span> ensures maximum
                        funds for you
                    </p>
                </div>
                <div>
                    <button class="bg-fuchsia-500 rounded-md mt-5 text-white px-10 py-3  font-bold">Send Request For
                        Campaign</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="about" class="mb-4 mt-4">

</div>

<!-- Home Section End -->

{% endblock body%}