<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
</head>

<body style="background-color: #F0F3F4;">
    <div class="flex">
        <!-- vertical navbar -->
        <div>
            <div>
                <div class="ml-5 my-3 drop-shadow-2xl w-80 border border-solid bg-white rounded fixed "
                    style="height: 95vh;">
                    <div class="flex rounded justify-center py-3" style="background-color: #b625ff;">
                        <img class="w-20 mr-3 " src="/static/img/logo.png" alt="">
                        <h2 class="text-xl font-bold mt-6 text-white uppercase">Helping Hand</h2>
                    </div>
                    <div class="py-6 px-5 w-80 flex flex-col">
                        <a class="w-full py-3 mb-2 text-start pl-10 drop-shadow-2xl rounded mx-auto bg-red-700 text-white font-bold hover:font-bold hover:bg-red-700 hover:text-white"
                            href="/adminpanel/dashboard" rel="noopener noreferrer"><i
                                class="fa-solid fa-table-cells text-xl pr-2"></i></i>
                            Dashboard</a>
                        <a class="w-full py-3 mb-2 text-start pl-10 drop-shadow-2xl rounded mx-auto hover:font-bold hover:text-white hover:bg-red-700"
                            href="/adminpanel/donation" rel="noopener noreferrer"><i
                                class="fa-solid fa-hand-holding-dollar text-xl pr-2"></i>Donation</a>
                        <a class="w-full py-3 mb-2 text-start pl-10 drop-shadow-2xl rounded mx-auto hover:font-bold hover:text-white hover:bg-red-700"
                            href="/adminpanel/campaign" rel="noopener noreferrer"> <i
                                class="fa-solid fa-folder-plus text-xl pr-2"></i>Campaign</a>
                        <a class="w-full py-3 mb-2 text-start pl-10 drop-shadow-2xl rounded mx-auto hover:font-bold hover:text-white hover:bg-red-700"
                            href="/adminpanel/request" rel="noopener noreferrer"><i
                                class="fa-solid fa-file-circle-plus text-xl pr-2"></i>Request</a>
                        <a class="w-full py-3 mb-2 text-start pl-10 drop-shadow-2xl rounded mx-auto hover:font-bold hover:text-white hover:bg-red-700"
                            href="/adminpanel/message" rel="noopener noreferrer"><i
                                class="fa-regular fa-envelope text-xl pr-2"></i>Message</a>

                        <a class="w-full py-3 mb-2 text-start pl-10 drop-shadow-2xl rounded mx-auto hover:font-bold hover:text-white hover:bg-blue-400"
                            href="/adminpanel/signout" rel="noopener noreferrer"><i
                                class="fa-solid fa-right-from-bracket text-xl pr-2"></i>Logout</a>
                    </div>
                    <div class="flex flex-col absolute inset-x-0 bottom-0 mb-10">
                        <i class="fa-solid fa-user text-center bg-blue-400 text-2xl w-16 h-16 p-5 rounded-full mx-auto"
                            style="color: #fdf7f7;"></i>
                        <h3 class="text-center mt-1 font-bold">{{user}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div class="ml-96">
            <div class="">
                <div class="mr-5 my-3 p-10 drop-shadow-2xl border border-solid bg-white rounded fixed overflow-y-auto"
                    style="height: 95vh;">
                    <h1
                        class="w-full py-3 mb-2 text-start pl-10 drop-shadow-2xl rounded mx-auto bg-red-700 text-white font-bold">
                        <i class="fa-solid fa-table-cells text-xl pr-2"></i>
                        Dashboard

                    </h1>
                    <div class="mt-8 mx-10">
                        <!-- card -->
                        <div class="flex flex-wrap">
                            <div class="w-80 rounded bg-white shadow-2xl mt-8 mx-10">
                                <div class="px-10 py-5 w-80">
                                    <div class="flex">
                                        <i class="fa-solid fa-hand-holding-dollar text-6xl text-yellow-500 mx-auto"></i>
                                    </div>
                                    <p class="text-4xl font-bold my-3 text-center">5</p>
                                    <h2 class="text-center">DONATION</h2>
                                </div>
                            </div>

                            <div class="w-80 rounded bg-white shadow-2xl mt-8 mx-10">
                                <div class="px-10 py-5 w-80">
                                    <div class="flex">
                                        <i class="fa-solid fa-folder-plus text-6xl text-yellow-500 mx-auto"></i>
                                    </div>
                                    <p class="text-4xl font-bold my-3 text-center">5</p>
                                    <h2 class="text-center">Add Campaign</h2>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-80 rounded bg-white shadow-2xl mt-8 mx-10">
                                <div class="px-10 py-5 w-80">
                                    <div class="flex">
                                        <i class="fa-solid fa-file-circle-plus text-6xl text-yellow-500 mx-auto"></i>
                                    </div>
                                    <p class="text-4xl font-bold my-3 text-center">5</p>
                                    <h2 class="text-center">Campaign Request</h2>
                                </div>
                            </div>

                            <div class="w-80 rounded bg-white shadow-2xl mt-8 mx-10">
                                <div class="px-10 py-5 w-80">
                                    <div class="flex">
                                        <i class="fa-regular fa-envelope text-6xl text-yellow-500 mx-auto"></i>
                                    </div>
                                    <p class="text-4xl font-bold my-3 text-center">5</p>
                                    <h2 class="text-center">Message</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Javascript -->

            <!-- font awosome -->
            <script src="https://cdn.tailwindcss.com"></script>
            <script src="https://kit.fontawesome.com/ff3c91d27a.js" crossorigin="anonymous"></script>

</body>

</html>